<% result.map(card => { %> 
  <div class="card-back card hide">
      <h3 class="answer"><%= card.answer %></h3>
    
      <div class="links-container">
        <% if (card.links) { %>
          <h3>More Information:</h3>
          <% card.links.split(', ').map(link => { %>
            <a onclick="window.open(`<%= link %>`)"><%= link.slice(0, 30) %></a><br>
          <% }) %>
         <% } %>
          <p class="card-id hide"><%= card._id %></p>
          <p class="links hide"><%= card.links %></p> 
      </div>  

      <div class="signup-message"></div>
    
      <% if (user) { %> 
        <div class="feedback-container">
          <div class="correct" onclick="handleCorrectClick()" >Nailed it!</div>
          <div class="incorrect" onclick="handleIncorrectClick()" >Blew it!</div>
        </div>
      <% } else { %>
        <div class="feedback-container">
          <div class="correct" onclick="handleDisplaySignUpMessage()">Nailed it!</div>
          <div class="incorrect" onclick="handleDisplaySignUpMessage()">Blew it!</div>
        </div>
      <% } %>
     
  </div>
<% }) %>
