<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <div class="create-set-container"> 
    
    <div class="set-info">
      <% if (!Array.isArray(setInfo)) { %>
        <h3>Subject: <span class="set-info-subject"><%= setInfo.subject %></span></h3>
        <h3>Subcategory: <span class="set-info-subcategory"><%= setInfo.subcategory %></span></h3>
        <h3>Title: <span class="set-info-title"><%= setInfo.title %></span></h3>
        <% if (setInfo.public === "on") { %>
          <h3>Public: <span class="set-info-public">true</span></h3>
        <% } else { %>
          <h3>Public: <span class="set-info-public">false</span></h3>
        <% } %>
      <% } %>
    </div>

    <form action="/create" method="POST">
      <div class="set-input">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        <label for="subcategory">Subcategory:</label>
        <input type="text" id="subcategory" name="subcategory" required>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <input type="checkbox" id="public" name="public"/>
        <label class="public-label" for="public">Make Set Public</label>
        
        <button class="save-set-button" type="button">Save</button>
      </div>
      
      <div class="card-input">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required>
  
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" required>
  
        <label for="link">Add Link:</label>
        <input type="text" id="link">
        <button class="add-link-button" type="button">Add Link</button>
        <div class="added-links">
          <p>Added links will appear here.</p>
        </div>

        <div class="hide">
          <input type="text" name="author" value="<%= user._id %>"><%= user._id %></input>
          <input class="hidden-links-input" name="links"></input>
        </div>
        
        <button class="save-card-button">Save Card</button>
      </div>
    </form>

  </div>

  <%- include('./partials/footer.ejs') %>

  <script>

    // HIDE SET INFO, DISPLAY IN DIV ON "SAVE"
    // elements
    const saveSetButton = document.querySelector('.save-set-button')
    const setInput = document.querySelector('.set-input')
    const setInfo = document.querySelector('.set-info')
    const subject = document.getElementById('subject')
    const subcategory = document.getElementById('subcategory')
    const title = document.getElementById('title')
    const public = document.getElementById('public')
    
    const setInputs = [ subject, subcategory, title ]
    let html = ''

    // hide setInput if setInfo has children
    if (setInfo.children.length > 0) {
      // elements
      const setInfoSubject = document.querySelector('.set-info-subject')
      const setInfoSubcategory = document.querySelector('.set-info-subcategory')
      const setInfoTitle = document.querySelector('.set-info-title')
      const setInfoPublic = document.querySelector('.set-info-public')

      subject.value = setInfoSubject.innerText
      subcategory.value = setInfoSubcategory.innerText
      title.value = setInfoTitle.innerText

      if (setInfoPublic.innerText === "true" && public.checked === false ||
          setInfoPublic.innerText === "false" && public.checked === true)  {
        public.click()
      }
      
      setInput.classList.add('hide')
    }

    // save set info display values on keyup events
    setInputs.forEach(input => {
      input.addEventListener('keyup', () => {
        html = `
          <h3>Subject: ${subject.value}</h3>
          <h3>Subcategory: ${subcategory.value}</h3>
          <h3>Title: ${title.value}</h3>
        `
      })
    })

    // display set info on "save"
    saveSetButton.addEventListener('click', () => {
      html += `<h3>Public: ${public.checked}</h3>`
      setInfo.innerHTML = html
      setInput.classList.add('hide')
    })

    if (sessionStorage.storedSetInfo) {
      const storedSetInfo = JSON.parse(sessionStorage.storedSetInfo)
      html = `
        <h3>Subject: ${storedSetInfo.subject}</h3>
        <h3>Subcategory: ${storedSetInfo.subcategory}</h3>
        <h3>Title: ${storedSetInfo.title}</h3>
        <h3>Public: <span class="set-info-public">${storedSetInfo.public === "on" ? "true" : "false"}</span></h3>
      `
       setInfo.innerHTML = html
       setInput.classList.add('hide')
      
      // set input values
      const setInfoPublic = document.querySelector('.set-info-public')
      subject.value = storedSetInfo.subject
      subcategory.value = storedSetInfo.subcategory
      title.value = storedSetInfo.title
      if (setInfoPublic.innerText === "true" && public.checked === false ||
          setInfoPublic.innerText === "false" && public.checked === true)  {
        public.click()
      }
    }

    // ADD LINKS TO LINK DISPLAY DIV ON "ADD"
    //elements
    const link = document.getElementById('link')
    const addLinkButton = document.querySelector('.add-link-button')
    const addedLinksDiv = document.querySelector('.added-links')
    const hiddenLinksInput = document.querySelector('.hidden-links-input')
    const saveCardButton = document.querySelector('.save-card-button')

    const validateLink = (link) => {
    const www = link.slice(0, 3).search("www")
    if (www != -1) {
      return `https://${link}`
    }
    const https = link.search("https://www.")
    const http = link.search("http://www.")
    if (https === -1 && http === -1) {
      return `https://www.${link}`
    } 
    return link
  }

  const updateLinksInput = () => {
    const links = document.querySelectorAll('.added-links a')
    hiddenLinksInput.value = ''
    links.forEach(link => {
      hiddenLinksInput.value += `${link.href}, `
    })
  }

    addLinkButton.addEventListener('click', () => {
      if (addedLinksDiv.innerText === "Added links will appear here.") {
        addedLinksDiv.innerText = ''
      }

      let ValidatedLink = validateLink(link.value)
      addedLinksDiv.innerHTML += `
      <a href=${ValidatedLink}>${ValidatedLink.slice(0, 27)}</a><span class="material-symbols-outlined link-trash">delete</span><br>`
      link.value = ''
      updateLinksInput()

      // add listener to trashcans
      const trashcans = document.querySelectorAll('.link-trash')
      trashcans.forEach(can => {
        can.addEventListener('click', () => {
          can.previousSibling.remove()
          can.remove()
          updateLinksInput()
        })
      })
    })
  </script>
</body>
</html>