<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <div class="create-set-container">

    <div class="set-info">
      <% if (!Array.isArray(setInfo)) { %>
        <h3>Subject: <%= setInfo.subject %></h3>
        <h3>Subcategory: <%= setInfo.subcategory %></h3>
        <h3>Title: <%= setInfo.title %></h3>
        <% if (setInfo.public) { %>
          <h3>Public: true</h3>
        <% } else { %>
          <% console.log(setInfo) %>
          <h3>Public: false</h3>
        <% } %>
      <% } %>
    </div>

    <form action="/create" method="POST">
      <div class="set-input">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        <label for="subcategory">Subcategory:</label>
        <input type="text" id="subcategory" name="subcategory" required>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <input type="checkbox" id="public" name="public"/>
        <label class="public-label" for="public">Make Set Public</label>
        
        <button class="save-set-button" type="button">Save</button>
      </div>
      
      <div class="card-input">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required>
  
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" required>
  
        <label for="link">Add Link:</label>
        <input type="text" id="link">
        <button class="add-link-button" type="button">Add Link</button>
        <div class="added-links">
          <p>Added links will appear here.</p>
        </div>

        <div class="hide">
          <input type="text" name="author" value="user1">user1</input>
          <input class="hidden-links-input" name="links"></input>
        </div>
        
        <button class="save-card-button">Save Card</button>
      </div>
    </form>

  </div>

  <%- include('./partials/footer.ejs') %>

  <script>

    // HIDE SET INFO, DISPLAY IN DIV ON "SAVE"
    // elements
    const saveSetButton = document.querySelector('.save-set-button')
    const setInput = document.querySelector('.set-input')
    const setInfo = document.querySelector('.set-info')
    const subject = document.getElementById('subject')
    const subcategory = document.getElementById('subcategory')
    const title = document.getElementById('title')
    const public = document.getElementById('public')
    
    const setInputs = [ subject, subcategory, title ]
    let html = ''

    // hide setInput if setInfo has children
    if (setInfo.children.length > 0) {
      setInput.classList.add('hide')
    }

    // save set info display values on keyup events
    setInputs.forEach(input => {
      input.addEventListener('keyup', () => {
        html = `
          <h3>Subject: ${subject.value}</h3>
          <h3>Subcategory: ${subcategory.value}</h3>
          <h3>Title: ${title.value}</h3>
        `
      })
    })

    // display set info on "save"
    saveSetButton.addEventListener('click', () => {
      html += `<h3>Public: ${public.checked}</h3>`
      setInfo.innerHTML = html
      setInput.classList.add('hide')
    })

    // ADD LINKS TO LINK DISPLAY DIV ON "ADD"
    //elements
    const link = document.getElementById('link')
    const addLinkButton = document.querySelector('.add-link-button')
    const addedLinksDiv = document.querySelector('.added-links')
    const hiddenLinksInput = document.querySelector('.hidden-links-input')
    const saveCardButton = document.querySelector('.save-card-button')

    const validateLink = (link) => {
    index = link.search("https://")
    if (index === -1) {
      return `https://${link}`
    } 
    return link
  }

  const updateLinksInput = () => {
    const links = document.querySelectorAll('.added-links a')
    hiddenLinksInput.value = ''
    links.forEach(link => {
      hiddenLinksInput.value += `${link.innerText},`
    })
  }

    addLinkButton.addEventListener('click', () => {
      if (addedLinksDiv.innerText === "Added links will appear here.") {
        addedLinksDiv.innerText = ''
      }

      let ValidatedLink = validateLink(link.value)
      addedLinksDiv.innerHTML += `
      <a href=${ValidatedLink}>${ValidatedLink}</a><span class="material-symbols-outlined link-trash">delete</span><br>`
      link.value = ''
      updateLinksInput()

      // add listener to trashcans
      const trashcans = document.querySelectorAll('.link-trash')
      trashcans.forEach(can => {
        can.addEventListener('click', () => {
          can.previousSibling.remove()
          can.remove()
          updateLinksInput()
        })
      })
    })
  </script>
</body>
</html>