<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <div class="create-set-container"> 

    <form action="/edit-set" method="POST" id="set-update-form" name="set-update-form">
      <div class="set-input">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        <label for="subcategory">Subcategory:</label>
        <input type="text" id="subcategory" name="subcategory" required>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <input type="checkbox" id="public" name="public"/>
        <label class="public-label" for="public">Make Set Public</label>

        <div class="hide">
          <input type="text" id="authorId" name="authorId" value="<%= user._id %>" />
          <input type="text" id="previousSubject" name="previousSubject" />
          <input type="text" id="previousSubcategory" name="previousSubcategory" />
          <input type="text" id="previousTitle" name="previousTitle" />
          <input type="checkbox" id="previousPublic" name="previousPublic"/>
        </div>
       
        
        <button class="update-set-button">Update Set Info</button>
      </div>
    </form>

  </div>

  <%- include('./partials/footer.ejs') %>

  <script>
    const storedSetInfo = JSON.parse(sessionStorage.storedSetInfo)

    // persist previous values
    document.forms['set-update-form']['previousSubject'].value = storedSetInfo.subject
    document.forms['set-update-form']['previousSubcategory'].value = storedSetInfo.subcategory
    document.forms['set-update-form']['previousTitle'].value = storedSetInfo.title
    const previousPublic = document.getElementById('previousPublic')
    if (storedSetInfo.public === "on") {
      previousPublic.click()
    }
       
    // pre populate inputs with previous vals and submit any updated vals
    document.forms['set-update-form']['subject'].value = storedSetInfo.subject
    document.forms['set-update-form']['subcategory'].value = storedSetInfo.subcategory
    document.forms['set-update-form']['title'].value = storedSetInfo.title
    const public = document.getElementById('public')
    if (storedSetInfo.public === "on") {
      public.click()
    }

  </script>