<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <div class="create-set-container"> 
    
    <div class="set-info">
      <% if (!Array.isArray(setInfo)) { %>
        <h3>Subject: <span class="set-info-subject"><%= setInfo.subject %></span></h3>
        <h3>Subcategory: <span class="set-info-subcategory"><%= setInfo.subcategory %></span></h3>
        <h3>Title: <span class="set-info-title"><%= setInfo.title %></span></h3>
        <% if (setInfo.public === "on") { %>
          <h3>Public: <span class="set-info-public">true</span></h3>
        <% } else { %>
          <h3>Public: <span class="set-info-public">false</span></h3>
        <% } %>
      <% } %>
    </div>

    <form action="/create" method="POST">
      <div class="set-input">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
        <label for="subcategory">Subcategory:</label>
        <input type="text" id="subcategory" name="subcategory" required>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <input type="checkbox" id="public" name="public"/>
        <label class="public-label" for="public">Make Set Public</label>
        
        <button class="save-set-button" type="button">Save</button>
      </div>
      
      <div class="card-input">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required>
  
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer" required>
  
        <label for="link">Add Link:</label>
        <input type="text" id="link">
        <button class="add-link-button" type="button">Add Link</button>
        <div class="added-links">
          <p>Added links will appear here.</p>
        </div>

        <div class="hide">
          <input type="text" name="authorId" value="<%= user._id %>"><%= user._id %></input>
          <input type="text" name="author" value="<%= user.username %>"><%= user.username %></input>
          <input class="hidden-links-input" name="links"></input>
        </div>
        
        <button class="save-card-button">Save Card</button>
      </div>
    </form>

  </div>

  <%- include('./partials/footer.ejs') %>