<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <main>
  
    <p>Search available card sets:</p>
    <input type="text" id="search" name="search">
    <button class="search-button" type="button">search</button>

    <div class="browse">

      <p>Browse by Subject</p>
      <% subjects.map(subject => { %>
        <h3><%= subject %></h3>
      <% }) %>

    </div>
    
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>