<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

  <main>
  
    <p>Search available card sets:</p>
    <input type="text" id="search" name="search">
    <button class="search-button" type="button">search</button>

    
    <div class="browse">
      <% Object.entries(setInfo).map(([subject, subcatsObj]) => { %>
        <div class="browse-subject">
          <h3><%= subject %></h3>
          <div class="browse-subcategory">
            <% Object.entries(subcatsObj).map(([subcat, titleArr]) => { %>
              <h4><%= subcat %></h4>
              <% titleArr.map(title => { %>
                <a href="/<%= subcat %>/<%= title %>"><%= title %></a>
              <% }) %>
            <% }) %>
            </div>
        </div>
      <% }) %>

    </div>
    
  </main>

  <%- include('./partials/footer.ejs') %>

  <script>

    sessionStorage.clear()

  </script>

</body>
</html>